@use "src/styles/variables" as *;

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 20px 35px;
	display: flex;
	justify-content: space-between;

	&__lang {
		font-size: 20px;
		color: $color_primary;
	}

	&__menu {
		display: flex;
		width: 50%;
		justify-content: space-between;
		&-item {
		}

		&-link {
			font-size: 20px;
			font-weight: 100;

			&:hover {
				text-decoration: none;
				color: $color_active;
			}
		}
	}
}
