@use "src/styles/variables" as *;
$paths: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: transparent;
	animation: animFill 0.4s ease forwards 7.2s;

	path {
		opacity: 0;
		transition: opacity 0.2s;
		animation: animLine 2s ease forwards;
	}

	@each $number in $paths {
		path:nth-child(#{$number}) {
			animation-delay: #{($number * 0.4) + 1}s;
		}
	}
}

@keyframes animLine {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

@keyframes animFill {
	90% {
		fill: white;
	}
	100% {
		opacity: 0;
		z-index: -10000;
	}
}
